html, body {
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}


.hidden{
    display: none;
}
/* main header rules */

header{
    background-color: red;
    padding: 10px 0px
}

#main-logo{
    width: 300px;
    display: block;
    margin: 0px auto;

}
.characters{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#character_nav{
background-color: #675050;
background-image: url(../images/characters_art_mas_mob_01.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: multiply;
}

.characters li{
    height: 220px;
    margin: 10px 8px;
    background-color: black;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 1s ease;
    box-shadow: 0px 155px 0px 0px rgb(255, 0, 0) inset;
}

/* 0 top, 0 right, 0 bottom, 0 left */
/*mdn webdocs to see transitions*/

.characters li:hover{
    box-shadow: 0px 220px 0 0 rgb(255,0,0) inset;
}

.characters li h5{

    color: #ffffff;
    padding: 12px 8px; 
 }
 
 .caracters li a{
     text-decoration: none;
 }

article, #instructions {
    padding: 20px;
}

article h3, #instructions h3{
font-size: 32 px;
text-align: center;
margin-bottom: 14px;

}

article p, #instructions p{
    width: 80%;
    font-size: 18 px;
    line-height: 22px;
    text-align: center;
    margin: 0px auto;

    
    }

/**---Sprite--*/

.sprite{
    width: 150px;
    height: 150px;
    background: red;
    background-image: url('../images/marvelSprites.jpg') ;
}

#carol{
    background-position: -150px 0;
}
#clint{
    background-position: -300px 0;
}
#hulk{
    background-position: -450px 0;
}
#thor{
    background-position: -600px 0;
}
#widow{
    background-position: -750px 0;
}

#cap:hover, #carol:hover, #clint:hover, #hulk:hover, #thor:hover, #widow:hover {
    background-position-y: -150px;
}
/*footer---*/
footer{
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.stickyfooter{
    position: sticky;
    top: 100%;
    height: 80px;
    background-color: rgb(40, 37, 37);
}

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0, 0.85);
    background-image: url(../images/Cap_LB_Bg.png);
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    z-index: 5000;
    display: none;

}

#lightbox2{
    background-image: url(../images/Thor_LB_Bg.png);
}

.lightbox_close{
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 48px;
    text-decoration: none;
    font-weight: bolder;

}
.lightbox_close:hover{
    opacity: 0.5;
    color: red;

}
.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading {
text-align: left;

}

.lb_text{
    margin-left: 0px;
    padding-top: 32px;
    line-height: 1.6 !important;
}

.lightbox:target{
    display:block;
}